*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto' , 'Arial' , sans-serif;
}

img{
  vertical-align: middle;
  object-fit: cover;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  }

.tel{
  position: relative;
  width: 1050px;
  height: 850px;
  background-image: url("../img/cell-phone.png");
  background-repeat: no-repeat;
  background-size: 1050px 850px;
  background-position: center;
}

.tel__inner{
  position: relative;
  top: 150px;
}

.tel__inner::before{
  position: absolute;
  top: 30px;
  left: 375px;
  width: 300px;
  height: 200px;
  display: block;
  background-image: url("../img/card.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.tel__form{
  position: absolute;
  top: 210px;
  left: 330px;
  width: 300px;
}
.form {
}
.form__item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}
.form__img {
  width: 30px;
  margin-right: 10px;
}
.form__text {
  margin: 0;
  margin-top: 15px;
}

.text{
  margin-left: -5px;
}


.form__title {
  /* box-sizing: content-box; */
  margin: 0px;
}

.text{
  margin-right: 42px;
}



.form__desc {
  margin: 0;
}
.form__checkbox {
  display: flex;
  align-items: center;
}
.form__label {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1.5px;
  border: 1px solid #D9D9D9;
  transition: all 0.4s ease;

}

.form__cicrle {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  transition: all 0.4s ease;
}

.form__input:checked ~ .form__label {
  background-color: #4B7CDE;
}

.form__input:checked ~ .form__label > .form__cicrle {
  transform: translateX(40px);
}
